@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.6%;
    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 32.6% 17.5%;
    --secondary-foreground: 0 0% 100%;
    --accent: 217 91.2% 59.8%;
    --accent-foreground: 0 0% 3.6%;
    --destructive: 0 84.2% 60.2%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.6%;
    --foreground: 0 0% 98%;
    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 3.6%;
    --secondary: 217 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --accent: 217 91.2% 59.8%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
  }
}

@layer base {
  * {
    @apply border-foreground/10;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rounding-values" 1;
  }
}
